@import url('navbar.css');
@import url('user-post.css');
@import url('post-feed.css');
@import url('slider.css');
@import url('scrollbar.css');
@import url('more.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.container-content {
    padding: 10px;
    width: 60%;
}

.arroba {
    text-decoration: none;
    color: dodgerblue;
    font-size: 14pt;
}

.username-link {
    display: flex;
    align-items: center;
}

#username {
    font-size: 2rem;
    width: 300px;
}

.notify {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(0, 197, 99);
    display: none;
}

.notify a {
    margin-left: 12px;
    text-decoration: none;
    color: white;
}

.javascript {
    background-color: gold;
    padding: 2px;
    border-radius: 5px;
}



@media only screen and (max-width: 600px) {


    .container-content {
        width: auto;
        padding: 0;
    }

    .hide-mobile {
        display: none;
    }

    .user-post-area {
        padding: 0;
    }

    #username {
        font-size: 1.2rem;
        width: 190px;
    }

    .user-post-text>section {
        padding: 0;
        transition: none;
        width: 100%;
    }


    .user-post-text>section:hover {
        transform: none
    }

    .user-post-text>section p {
        font-size: 10pt;
    }

    .post {
        width: 80%;
    }

    .title-project {
        display: block;
    }

    .post-description {
        font-size: 10pt;
    }

    .post-feed {
        width: 100%;
        justify-content: center;
    }

    .more {
        display: none;
    }

    .img-box {
        overflow: none;
    }

}